@layer layout {
  header {
    height: 80px;
    min-width: var(--contentMinWidth);
    position: fixed;
    width: 100%;
    z-index: 3;
    --fontColor: #cba467;
    background: linear-gradient(180deg, #4a494a, #272727);
    border-block-end: 3px solid #1f1f1fcc;
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
  }
  header .headerContainerEnd,
  header .headerContainerStart {
    align-items: center;
    align-self: stretch;
    column-gap: var(--pagePadding);
    container-type: inline-size;
    display: inline-grid;
    width: 100%;
  }
  header .headerContainerStart {
    container-name: headerContainerStart;
    grid-template-columns: auto 1fr;
    justify-items: start;
  }
  header .headerContainerEnd {
    container-name: headerContainerEnd;
    justify-items: end;
  }
  header button {
    font-size: var(--fontSize);
    --buttonPadding: 10px;
    --buttonMinHeight: 34px;
    border-radius: 19px;
  }
  header button div {
    column-gap: 10px;
  }
  header button div span {
    direction: var(--readingDirection);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  header button div > svg {
    height: 15px;
  }
  header button:not(:hover):not(:active) {
    --buttonBackgroundColor: #0000;
  }
  header nav {
    position: relative;
    --linkColor: var(--fontColor);
    --linkHoverColor: #f2daa5;
    --linkActiveColor: #9d763a;
    transition: 0.2s ease-out;
  }
  header nav .menu {
    animation: menuAppear 0.25s ease-out forwards;
    border-radius: 0 0 7px 7px;
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
    overflow: hidden;
    position: absolute;
  }
  @keyframes menuAppear {
    0% {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-70px) scale(0.5);
    }
    60% {
      opacity: 1;
      transform: translateY(5%) scale(1);
    }
    to {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }
  }
  header nav .menu:after {
    background-color: #34434d;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }
  header nav .menu a,
  header nav .menu > div {
    align-items: center;
    column-gap: 10px;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 20px 1fr 50px;
    justify-items: start;
    --translate: translateX(0);
    font-weight: 700;
    min-height: 40px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 100%;
  }
  header nav .menu a svg:first-child,
  header nav .menu > div svg:first-child {
    height: 20px;
    max-height: 20px;
    max-width: 20px;
  }
  header nav .menu a span,
  header nav .menu > div span {
    justify-self: start;
    white-space: nowrap;
  }
  header nav .menu a:hover {
    background-color: #cba467;
    --translate: translateX(calc(3px * var(--scaleXFactor)));
    --fontColor: #34434d;
  }
  header nav .menu a:active {
    background-color: #9d763a;
    --fontColor: #34434d;
  }
  header nav .menu a svg:nth-child(3) {
    height: 0.5em;
    justify-self: end;
    transform: var(--translate) rotate(calc(-90deg * var(--scaleXFactor)));
    transition: transform 0.2s ease-out 0.1s;
  }
  header .pageMenu {
    align-self: stretch;
  }
  header .pageMenu .openClosePageMenu {
    align-items: center;
    display: grid;
    height: 100%;
    padding-inline: var(--pagePadding);
  }
  header .pageMenu .openClosePageMenu svg {
    width: 30px;
    --svgStrokeColor: #34220d;
  }
  header .pageMenu .openClosePageMenu svg path {
    transition: 0.15s ease-out;
  }
  header .pageMenu .openClosePageMenu svg .start {
    opacity: var(--startEndOpacity);
    transform: scaleX(var(--scaleStart));
  }
  header .pageMenu .openClosePageMenu svg .end {
    opacity: var(--startEndOpacity);
  }
  header .pageMenu .openClosePageMenu svg .center {
    transform: scaleX(var(--scaleCenter, 1)) rotate(var(--firstRotation, 0deg));
    transform-origin: var(--centerTransformOrigin, inherit);
  }
  header .pageMenu .openClosePageMenu svg .center ~ .center {
    transform: scaleX(var(--scaleCenter, 1)) rotate(var(--secondRotation, 0deg));
  }
  header .pageMenu .openClosePageMenu.closed:hover {
    --scaleStart: 1.5;
    --scaleCenter: 0.65;
  }
  header .pageMenu .openClosePageMenu.opened {
    animation: morph 0.15s forwards;
  }
  @keyframes morph {
    0% {
      --startEndOpacity: 1;
      --firstRotation: 0;
      --secondRotation: 0;
      --centerTransformOrigin: inherit;
    }
    10% {
      --startEndOpacity: 0;
      --firstRotation: 0;
      --secondRotation: 0;
      --centerTransformOrigin: center;
    }
    to {
      --startEndOpacity: 0;
      --firstRotation: -45deg;
      --secondRotation: 45deg;
      --centerTransformOrigin: center;
    }
  }
  header .pageMenu .menu {
    inset-block-start: 80px;
    inset-inline-start: calc(var(--pagePadding) - 15px);
  }
  header .flag {
    border: 1px solid #261f1680;
    height: 18px !important;
    width: 23px !important;
  }
  header .logo {
    cursor: pointer;
    height: 70px;
    --scaleXFactor: 1;
  }
  @media screen and (max-width: 500px) {
    header .logo {
      width: 44px;
    }
    header .logo path {
      display: none;
    }
  }
  header button.language {
    min-width: 100px;
  }
  header button.language > div {
    grid-template-columns: 23px 1fr 23px;
    justify-self: stretch;
  }
  header button.login,
  header button.openCloseAccountMenu {
    margin-inline: var(--pagePadding);
    min-width: 170px;
  }
  header button.login > div,
  header button.openCloseAccountMenu > div {
    grid-template-columns: 16px 1fr 16px;
    justify-self: stretch;
  }
  header button.login .login,
  header button.openCloseAccountMenu .login {
    grid-column-start: 1;
  }
  header button.login span,
  header button.openCloseAccountMenu span {
    grid-column-start: 2;
  }
  header button.login .chevron,
  header button.openCloseAccountMenu .chevron {
    grid-column-start: 3;
  }
  header .accountMenu {
    justify-self: end;
  }
  header .accountMenu .openCloseAccountMenu.opened:not(:hover):not(:active) {
    --buttonBackgroundColor: #34434d;
  }
  header .accountMenu .openCloseAccountMenu .chevron {
    transform: var(--rotate);
    transition: transform 0.3s ease;
  }
  header .accountMenu .openCloseAccountMenu.opened {
    --rotate: rotate(calc(-180deg * var(--scaleXFactor)));
  }
  header .accountMenu .openCloseAccountMenu.closed {
    --rotate: rotate(0deg);
  }
  header .accountMenu .menu {
    inset-block-start: 58px;
    inset-inline-end: -15px;
  }
  header .accountMenu .menu .lobby svg:first-child {
    height: 18px;
  }
  header .accountMenu .menu > .account,
  header .accountMenu .menu > .logout {
    border-image-repeat: repeat;
    border-image-source: linear-gradient(90deg, #0000, #445158cc 10%, #445158, #445158cc 90%, #0000);
    border-image-width: auto;
  }
  header .accountMenu .menu > .account {
    border-image-slice: 0 0 1;
  }
  header .accountMenu .menu > .logout {
    border-image-slice: 1 0 0;
  }
  @container headerContainerStart (width < 250px) {
    header button.language {
      min-width: 45px;
    }
    header button.language div {
      grid-template-columns: 1fr;
    }
    header button.language div span {
      display: none;
    }
    header nav .menu a {
      padding-block: 15px;
      padding-inline: 25px;
    }
  }
  @container headerContainerEnd (width > 250px) {
    header .menu .account {
      display: none;
    }
  }
  @container headerContainerEnd (width < 250px) {
    header button.login,
    header button.openCloseAccountMenu {
      min-width: 45px;
      transition: 0.15s ease-out;
    }
    header button.login div,
    header button.openCloseAccountMenu div {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    header button.login div > :nth-child(n + 2),
    header button.openCloseAccountMenu div > :nth-child(n + 2) {
      display: none;
    }
    header button.login div .login,
    header button.openCloseAccountMenu div .login {
      margin-inline-end: 5px;
    }
    header nav .menu a {
      padding-block: 15px;
      padding-inline: 25px;
    }
  }
  header.logoOnly {
    grid-template-columns: 1fr;
    padding-inline: var(--pagePadding);
  }
  main {
    display: grid;
    grid-row-start: 2;
    justify-self: center;
    max-width: calc(var(--contentMaxWidth) + var(--pagePadding) + var(--pagePadding));
    min-width: var(--contentMinWidth);
    width: 100%;
    z-index: 1;
    --fontColor: #e6dbc9;
    align-content: start;
    padding-block-start: 20px;
    padding-inline: var(--pagePadding);
    --mainBackgroundImage: linear-gradient(180deg, #00000059, #0000 15%), url(/assets/main-background.jpg);
  }
  main:before {
    background-image: var(--mainBackgroundImage);
    background-position: 50%;
    background-size: cover;
    content: "";
    inset: 80px 0 0;
    min-height: 100%;
    pointer-events: none;
    position: fixed;
    transform: scaleX(var(--scaleXFactor));
    width: 100%;
    z-index: -1;
  }
  .appContainer {
    animation: contentAppear 0.5s ease-out forwards;
  }
}
@layer layout {
  @keyframes contentAppear {
    0% {
      opacity: 0;
      pointer-events: none;
    }
    to {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
@layer layout {
  main h1,
  main h2,
  main h3 {
    --fontColor: #cba467;
  }
  main h1 {
    --fontFamily: "Red Rose", serif;
    font-size: 30px;
    margin-block-end: 20px;
    text-align: center;
  }
  main h1,
  main h2 {
    text-transform: uppercase;
  }
  main h2 {
    font-size: 18px;
    margin-block-end: 15px;
    text-shadow: 3px 3px 2px #00000040;
  }
  main h3 {
    font-size: 16px;
    margin-block-end: 10px;
  }
  main .goldenFrame {
    justify-self: center;
    max-width: 1100px;
    position: relative;
    width: 100%;
  }
  main .goldenFrame:has(.contentWrapper > button.back) {
    margin-block-start: 30px;
  }
  main .goldenFrame .contentWrapper {
    background-image: linear-gradient(180deg, #312c2cd9, #1a1e1fd9);
    border: 2px solid #cba467;
  }
  main .goldenFrame button.back {
    inset-block-start: -40px;
    inset-inline-start: 8px;
    position: absolute;
  }
  #errorPage {
    --mainBackgroundImage: url(/assets/error-background.jpg);
    align-content: center;
    background-color: #fff;
    direction: ltr;
    display: grid;
    grid-template-columns: 1fr;
    padding-block-end: 100px;
  }
  #errorPage h1 {
    background-color: #1e2022cc;
    font-size: 40px;
  }
  #errorPage p {
    font-size: 24px;
    --fontColor: #1f1f1f;
    font-style: italic;
    margin-block: 0 50px;
    text-align: center;
    white-space: pre-line;
  }
  #errorPage button {
    justify-self: center;
    min-width: 200px;
  }
  #errorPage button:not(:hover):not(:active) {
    --buttonBackgroundColor: #1e2022cc;
  }
}
@layer layout {
}
