@layer global {
  @font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/NotoSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 400;
    src: url(/assets/fonts/NotoSans-Italic.ttf) format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/NotoSans-Bold.ttf) format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/NotoSerif-Bold.ttf) format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: Red Rose;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/RedRose-Bold.ttf) format("truetype");
  }
}
@layer global {
  body,
  html {
    direction: var(--readingDirection);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body {
    background-color: #2c292c;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.3;
  }
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  button,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  i,
  iframe,
  img,
  input,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    border: 0;
    color: var(--fontColor);
    font: inherit;
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    vertical-align: initial;
    white-space: normal;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  :where(blockquote, q) :where(:before, :after) {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  :where(*, :before, :after) {
    box-sizing: border-box;
  }
  :where(*, :before, :after) :where(:not(input[type="text"]), :not(input[type="number"])) {
    background-repeat: no-repeat;
  }
  p {
    margin-block: 1em;
  }
  strong {
    font-weight: 700;
  }
  img {
    border: 0;
  }
  i,
  img,
  svg {
    display: block;
    transform: scaleX(var(--scaleXFactor));
  }
  svg {
    fill: var(--fontColor);
    outline: none;
    overflow: visible;
  }
  svg * {
    vector-effect: non-scaling-stroke;
  }
  svg :where(path, rect, circle):focus {
    outline: none;
  }
  svg .outline {
    fill: var(--svgStrokeColor, #0000);
    stroke: var(--svgStrokeColor, #0000);
    stroke-linecap: round;
    stroke-width: 2px;
  }
  button {
    all: unset;
    box-sizing: border-box;
    display: inline-block;
  }
  .warning {
    color: #ff4e00;
  }
  .error {
    color: #d40000;
  }
}
